.pic{
    width: 40%;
    margin: 5%;

}
.name{
    font-family: monospace;
    font-weight: bold;
}
.item{
    font-family: 'East Sea Dokdo', cursive;
    font-weight: bold;
    padding: 20px;
    margin: 30px;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.largefont{
    font-size: 170%;
    font-family: 'Yeon Sung', cursive;
}
.smallfont{
    font-size: 130%;
    font-family: 'Yeon Sung', cursive;
}
.menuBar{
    margin-top: 2%; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-items: center;
    width: 100%
}
.myTab{
    width: 100%;
    color: black;
    justify-content: center;
    margin-top: 5%;
    color: black;
}
.myTab a{
    color: black;
    font-weight: bold;
}
.myTab a:hover{
    color: black;
}
.container{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        height: 100%;
        flex: 1;
        min-height: 100%;
        font-family: 'Yeon Sung', cursive;
        justify-content: center;
        margin:'0'
}
.menuGrid{
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 'bold';
    display: flex;
    flex-direction:column;
    align-items:center;
    height: 80%;
    width: 100%;
}
.Grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 4%;
    width: 80%;
    height: 90%;
}
.Grid ul{
    width: 50%;
    height: 50%;
}
.Grid li img{
    height: 100%;
    width: 100%;
}
.fadeStyle{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100%;
}
.paperStyle{
    position: relative;
    justify-content:center;
    align-items: center;
    display:flex;
    height:60%; 
    width:60%;  
    background-image: url(../../texture/golden.jpg);
    background-size: cover;  
}
body .MuiBackdrop-root{
    background-color: rgba(0, 0, 0, 0.4);
}
/*.textOverPic{
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    background: url(../../texture/texture3.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Yeon Sung', cursive;
    justify-items: center;
    align-content: center;
}*/
.paperStyle .imgBox{
    position:relative;
    width:40%;
    height:100%;
    align-items:center;
    top: 80px;
}
.paperStyle .cartContainer{
    font-family: 'Yeon Sung', cursive;
    margin-top: 5%;
    display: flex;
    border: 3px black solid;
    border-radius: 10px;
    width: 40%;
}
.paperStyle .cart{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}
.paperStyle .cartText{
    margin: 0;
}
.paperStyle .cartText:hover{
    animation: bounce 1s infinite;
}
.paperStyle .imgBox img{
    width: 100%;
}
.paperStyle .textBox{
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    width: 40%;
    color: black;
    text-shadow: -1px 1px 0 rgb(252, 250, 250), 
                1px 1px 0 rgb(252, 250, 250), 
                 1px -1px 0 rgb(252, 250, 250);
}
.paperStyle .textBox .lgFont{
    font-size: 30pt;
}
.paperStyle .textBox .smFont{
    font-size: 20pt;
}
.paperStyle .xButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 10%;
}
.paperStyle .xButton:hover{
    cursor: pointer;
}


