.promotion-container {
  display: flex;
  justify-content: center;
}

.promotion-picture-container {
}

.promotion-picture-container img {
  width: 20em;
  height: 20em;
  object-fit: cover;
  object-position: 0 80%;
  z-index: 1;
}

.promotion-container .jumbotron {
  display: flex;
  z-index: 2;
  position: relative;
  padding: 0;
  align-items: center;
  height: 20em;
  width: 20em;
}

.arrow-icon {
  font-size: 3em;
}

.arrow-icon:hover {
  cursor: pointer;
}

.selectedIndex-container li {
  display: inline;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}

.selectedIndex-container li:first-child {
  padding-right: 2em;
  padding-left: 0em;
}

.selectedIndex-container .selectedIndex {
  color: white;
}

.promotion-picture-container {
}

.promotion-container .carousel-container {
  z-index: 0;
  flex: none;
}

.promotion-container .carousel-container .carousel-item {
  flex: none;
}

.promotion-container .promotion-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.carousel-container img {
  width: 50em;
  object-fit: cover;
  object-position: 0 80%;
  height: 40em;
}